html, body {
  margin: 0;
}

.topnav {
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px 3px #ccc;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.subnav {
  background-color: #e5e7eb;
  box-shadow: 1px 1px 15px 1px #ccc;
  position: fixed;
  width: 100%;
  padding-top: 73px;
  height: 50px;
}

.showcase {
  width: 100%;
  height: 350px;
  padding-top: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url("../imgs/doctors-patient.jpg");
}

.showcase-text {
  margin: 0px;
  padding: 25px;
  width: 30%;
}

.more-info {
  margin-left: 50px;
  width: 150px;
  height: 40px;
}

footer {
  background-color: #030d2c;
  color: aliceblue;
  height: 36vh;
}